.main-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin: 20px 0 20px 0;
  padding: 0 5vw 0 5vw;
}

.hero-item {
  display: flex;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 550px;
  width: 100%;
}

.hero-text-section {
  text-align: left;
  padding: 20px;
  margin: 1vh 5vw 1vh 10vw;
}

.hero-text-section h1 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
.hero-text-section h1 {
  font-size: 3rem;
}

.hero-text-section p {
  font-size: 1.2rem;
}

.hero-image {
  max-width: 350px;
}
}

@media only screen and (max-width: 875px) {
  .hero-text-section h1 {
    font-size: 2.7rem;
  }
  
  .hero-text-section p {
    font-size: 1.1rem;
  }
  
  .hero-image {
    max-width: 300px;
  }
  }

@media only screen and (max-width: 700px) {
  .main-div {
    margin: 0 auto 0 auto;
    padding: 0 1.5% 0 1.5%;
  }

  .hero-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .hero-item {
    width: 100%;
  }

  .hero-text-section {
    margin: 1vh 0 1vh 0;
    height: auto;
    padding: 3%;
  }

  .hero-text-section h1 {
    font-size: 2.5rem;
  }
  
  .hero-text-section p {
    font-size: 1.1rem;
  }
}
