.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContainer {
  align-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  position: absolute;
  width: 75vw;
  height: 75vh;
  padding: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.modal-body {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.modal-body h2 {
  font-size: 1.75rem;
  font-weight: bold;
}
.modal-body p {
  font-size: 1.3rem;
}

.modal-image {
  display: flex;
  width: 100%;
  max-width: 300px;
  max-height: 100%;
  align-self: flex-end;
}

.modal-section {
  margin-bottom: 40px;
  width: 50%;
}

#modal-section-about {
  width: 100%;
}

#modal-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1200px) {
  .modalContainer {
    flex-direction: column;
    justify-content: flex-start;
    height: 95vh;
    padding: 25px;
    overflow-y: scroll;
  }

  .modal-body {
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 40em;
  }

  .modal-body h2 {
    font-size: 1.6rem;
  }

  .modal-section {
    width: 100%;
  }

  #modal-section-about {
    order: 2;
  }

  #modal-section-learn {
    order: 3;
  }

  #modal-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .modalContainer {
    height: 100vh;
    padding: 20px;
  }

  .modal-body h2 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    width: 85vw;
    height: 95vh;
    padding: 15px;
  }

  .modal-body {
    flex-direction: column;
    height: 130vh;
  }

  .modal-body h2 {
    font-size: 1.2em;
  }

  .modal-body p {
    font-size: 1rem;
  }

  .modal-section {
    margin-bottom: 20px;
  }
}
